<!DOCTYPE html>
<html>
  <head>
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <style type="text/css">
      .upvote-block {
        cursor: pointer;
        display: inline-block;
        width: 10%;
        max-width: 50px;
      }
      .post-title {
        font-size: 20px;
      }
      .post-add-form {
        margin-top: 30px;
      }
      .comment-body {
        font-size: 20px;
      }
    </style>
  </head>
  <body ng-app="flapperNews">
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>
      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <div class="upvote-block"
             ng-click="incrementUpvotes(post)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ post.upvotes }}
        </div>
        <span class="post-title">
          <a ng-show="post.link" href="{{ post.link }}">
            {{ post.title }}
          </a>
          <span ng-hide="post.link">
            {{ post.title }}
          </span>
        </span>
        <span>
          <a href="#/posts/{{ $index }}">Comments</a>
        </span>
      </div>
      <form class="post-add-form"
            ng-submit="addPost()">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Title"
                 ng-model="title" />
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Link"
                 ng-model="link" />
        </div>
        <button type="submit">Post</button>
      </form>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{ post.link }}">
            {{ post.title }}
          </a>
          <span ng-hide="post.link">
            {{ post.title }}
          </span>
        </h3>
      </div>
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <div class="upvote-block"
             ng-click="incrementUpvotes(comment)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ post.upvotes }}
        </div>
        <span class="comment-body">
          {{ comment.body }}
          <em>- by {{ comment.author }}</em>
        </span>
      </div>
    </script>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
