<!DOCTYPE html>
<html>
  <head>
    <title>Flapper News</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="flapperNews">
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>
      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <div class="upvote-block"
             ng-click="incrementUpvotes(post)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ post.upvotes }}
        </div>
        <span class="post-title">
          <a ng-show="post.link" href="{{ post.link }}">
            {{ post.title }}
          </a>
          <span ng-hide="post.link">
            {{ post.title }}
          </span>
        </span>
        <span>
          <a href="#/posts/{{ post.id }}">Comments</a>
        </span>
      </div>
      <form class="add-form"
            ng-submit="addPost()">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Title"
                 ng-model="title" />
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Link"
                 ng-model="link" />
        </div>
        <button type="submit">Post</button>
      </form>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{ post.link }}">
            {{ post.title }}
          </a>
          <span ng-hide="post.link">
            {{ post.title }}
          </span>
        </h3>
      </div>
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <div class="upvote-block"
             ng-click="incrementUpvotes(comment)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ comment.upvotes }}
        </div>
        <span class="comment-body">
          {{ comment.body }}
          <em>- by {{ comment.author }}</em>
        </span>
      </div>
      <form class="add-form"
            ng-submit="addComment()">
        <h3>Add a new comment</h3>

        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Comment"
                 ng-model="body" />
        </div>
        <button type="submit">Post</button>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Log In</h1>
      </div>

      <form ng-submit="login()"></form>
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 placeholder="Email"
                 ng-model="user.email" />
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 ng-model="user.password" />
        </div>
        <input type="submit"
               class="btn btn-default"
               value="Log In" />
      </form>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Register</h1>
      </div>

      <form ng-submit="register()"></form>
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 placeholder="Email"
                 ng-model="user.email">
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Name"
                 ng-model="user.password">
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 ng-model="user.password">
        </div>
        <input type="submit"
               class="btn btn-default"
               value="Register">
      </form>
    </script>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="collapse navbar-collapse pull-right"
             ng-controller="NavController">
          <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
            <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
            <li ng-hide="signedIn()"><a href="#/">{{ user.username }}</a></li>
            <li ng-hide="signedIn()"><a href="#" ng-click="logout()">Log Out</a></li>
          </ul>
        </div>
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
